 
<h1>test</h1>
<form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <label for="login">Login</label>
  <input id="login" name="login" type="text" formControlName="login"  >

  <label for="password">Password</label>
  <input id="password" name="password" type="password" formControlName="password">
  <div class="showValidityPassword" 
  [class.valid]="registerForm.get('password')?.valid"
  [class.invalid]="registerForm.get('password')?.invalid && registerForm.get('password')?.dirty"
  [class.midle] = "registerForm.get('password')?.hasError('passwordAnother')"
  [class.enpty] = "registerForm.get('password')?.hasError('emptyField')"
  ></div>

  <button type="submit">Register</button>

  