.showValidityPassword{
    border-radius: 8px;    
background-color: lightgray;
width: 300px;
height: 30px;
font-size: 0;
margin-bottom: 7px;
}
#login, #password{
    width: 300px;
    height: 2em;
    background-color: rgb(224, 223, 223);
    border: 1px white solid;
    border-radius: 8px;
    margin-bottom: 0.5em;
    padding: 0;
}
form{
    display: block;
 border: 0px white solid;
 border-radius: 8px;
 height: 2em;
 width: 300px;
}
.ng-valid{
    border: 2px solid rgb(47, 255, 0);
}
.valid{
    background-color: green;
}
.invalid{
    background-color: red;
}
.midle{
    background-color: yellow;
}
.enpty{
    background-color: lightgray; ;
}