<form [formGroup]="registerForm">
<div>
    <label for="login">Login</label>
    <input id="login" name="login" type="text" formControlName="login"  >
</div> 
<div>
    <label for="password">Enter password</label>
    <input id="password" name="password" type="password" formControlName="password">
</div>
<div class="showValidityPassword">
    <div class = 'validity-section' [ngClass] = "{'empty': levelOfValidity === 'empty', 'tooShort': levelOfValidity === 'tooShort', 'red': levelOfValidity === 'easy', 'yellow': levelOfValidity === 'medium', 'green': levelOfValidity === 'strong'}"></div>
    <div class = 'validity-section' [ngClass] = "{'empty': levelOfValidity === 'empty', 'tooShort': levelOfValidity === 'tooShort', 'grey': levelOfValidity === 'easy', 'yellow': levelOfValidity === 'medium', 'green': levelOfValidity === 'strong'}"></div>
    <div class = 'validity-section' [ngClass] = "{'empty': levelOfValidity === 'empty', 'tooShort': levelOfValidity === 'tooShort', 'grey': levelOfValidity === 'easy', 'gray': levelOfValidity === 'medium', 'green': levelOfValidity === 'strong'}"></div>
</div> 
    <button id="button-submit" type="submit">Register</button>
</form>